.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

.logo {
  padding-top: 18px;
}

nav .brand-logo {
  margin-left: 10px;
}
nav {
  box-shadow: none;
  -moz-box-shadow: none;
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
}

.svglogo {
  margin-top: 1.5px;
}

#about{
  margin-top: 18px;
}
  
.page-footer i.left {
  margin-top: 2px;
}